/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
certs/*.crt
.php_cs.cache
dump.sql
.DS_Store
app/Console/Commands/DummyCommand.php
/builder.txt
create-web-app.temp.tf
.terraform/
